venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
coverage.xml
/requirements.txt
requirements-last-build.txt

# PyCharm project folder.
.idea/

# LXD profile used for deployment on local development environment.
lxd-profile.yaml
