#########################################################################################
# [ WARNING ]
# patroni configuration file maintained by the postgres-operator
# local changes may be overwritten.
#########################################################################################
# For a complete reference of all the options for this configuration file,
# please refer to https://patroni.readthedocs.io/en/latest/SETTINGS.html.

# Name of the cluster.
scope: {{ scope }}
namespace: /db/
name: {{ member_name }}

log:
  dir: /var/log/postgresql

restapi:
  listen: '{{ self_ip }}:8008'
  connect_address: '{{ self_ip }}:8008'

raft:
  data_dir: {{ conf_path }}/raft
  self_addr: '{{ self_ip }}:2222'
  {% if peers_ips -%}
  partner_addrs:
  {% endif -%}
  {% for peer_ip in peers_ips -%}
  - {{ peer_ip }}:2222
  {% endfor %}

bootstrap:
  dcs:
    # Settings related to the time without communication
    # to the leader before triggering a failover.
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true

  initdb:
  - encoding: UTF8
  - data-checksums

  #pg_hba:
  #- host replication replication 127.0.0.1/32 md5
  #- host all all 0.0.0.0/0 md5
postgresql:
  listen: '{{ self_ip }}:5432'
  connect_address: '{{ self_ip }}:5432'
  # Path to PostgreSQL binaries used in the database bootstrap process.
  bin_dir: /usr/lib/postgresql/{{ version }}/bin/
  data_dir: {{ conf_path }}/pgdata
  pgpass: /tmp/pgpass
  pg_hba:
    - host replication replication 127.0.0.1/32 md5
    - host all all 0.0.0.0/0 md5
    # Allow replications connections from other cluster members.
    {%- for peer_ip in peers_ips %}
    - host     replication    replication    {{ peer_ip }}/0    md5
    {% endfor %}
  authentication:
    replication:
      username: replication
      password: {{ replication_password }}
    superuser:
      username: postgres
      password: {{ superuser_password }}
