#########################################################################################
# [ WARNING ]
# patroni configuration file maintained by the postgres-operator
# local changes may be overwritten.
#########################################################################################
# For a complete reference of all the options for this configuration file,
# please refer to https://patroni.readthedocs.io/en/latest/SETTINGS.html.

# Name of the cluster.
scope: {{ scope }}
namespace: /db/
name: {{ member_name }}

log:
  dir: {{ log_path }}
  dateformat: "%Y-%m-%d %H:%M:%S %Z"
  format: "%(asctime)s [%(process)d]: %(levelname)s: %(message)s "
  file_num: 10080
  file_size: 600

restapi:
  listen: '{{ self_ip }}:8008'
  connect_address: '{{ self_ip }}:8008'
  {%- if patroni_password %}
  authentication:
    username: patroni
    password: {{ patroni_password }}
  {%- endif %}
  cafile: {{ conf_path }}/peer_ca.pem
  certfile: {{ conf_path }}/peer_cert.pem
  keyfile: {{ conf_path }}/peer_key.pem

ctl:
  cacert: {{ conf_path }}/peer_ca.pem

raft:
  data_dir: {{ conf_path }}/raft
  self_addr: '{{ self_ip }}:2222'
  password: {{ raft_password }}
  {% if partner_addrs -%}
  partner_addrs:
  {% endif -%}
  {% for partner_addr in partner_addrs -%}
  - {{ partner_addr }}:2222
  {% endfor %}

bootstrap:
  dcs:
    # Settings related to the time without communication
    # to the leader before triggering a failover.
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: {{ maximum_lag_on_failover }}
    synchronous_mode: true
    synchronous_mode_strict: false
    synchronous_node_count: {{ synchronous_node_count }}
    postgresql:
      use_pg_rewind: true
      remove_data_directory_on_rewind_failure: false
      remove_data_directory_on_diverged_timelines: false
      parameters:
        synchronous_standby_names: "*"
        {%- if enable_pgbackrest_archiving %}
        archive_command: 'pgbackrest {{ pgbackrest_configuration_file }} --stanza={{ stanza }} archive-push %p'
        {% else %}
        archive_command: /bin/true
        {%- endif %}
        archive_mode: on
        autovacuum: true
        debug_print_plan: 'off'
        debug_print_parse: 'off'
        debug_print_rewritten: 'off'
        fsync: true
        full_page_writes: true
        lc_messages: 'en_US.UTF8'
        log_autovacuum_min_duration: 60000
        log_checkpoints: 'on'
        log_destination: 'stderr'
        log_directory: '{{ postgresql_log_path }}'
        log_error_verbosity: 'verbose'
        log_file_mode: '0600'
        log_filename: 'postgresql-%w_%H%M.log'
        log_hostname: 'off'
        log_line_prefix: '%t [%p]: user=%u,db=%d,app=%a,client=%h,line=%l '
        log_min_duration_sample: -1
        log_min_error_statement: 'warning'
        log_recovery_conflict_waits: 'on'
        log_replication_commands: 'on'
        log_rotation_age: 1
        log_rotation_size: 0
        log_statement: ddl
        log_statement_sample_rate: 1
        log_statement_stats: 'off'
        log_temp_files: 1
        log_timezone: 'UTC'
        log_truncate_on_rotation: 'on'
        logging_collector: 'on'
        wal_level: logical
        shared_preload_libraries: 'timescaledb,pgaudit,set_user'
        session_preload_libraries: 'login_hook'
        set_user.block_log_statement: 'on'
        set_user.exit_on_error: 'on'
        set_user.superuser_allowlist: '+charmed_dba'
    slots:
    {%- for slot, database in slots.items() %}
      {{slot}}:
        database: {{database}}
        plugin: pgoutput
        type: logical
    {%- endfor -%}

  {%- if restoring_backup %}
  method: pgbackrest
  pgbackrest:
    command: >
      pgbackrest {{ pgbackrest_configuration_file }} --stanza={{ restore_stanza }} --pg1-path={{ data_path }}
      {%- if backup_id %} --set={{ backup_id }} {%- endif %}
      {%- if restore_timeline %} --target-timeline="0x{{ restore_timeline }}" {% endif %}
      {%- if restore_to_latest %} --type=default {%- else %}
      --target-action=promote {%- if pitr_target %} --target="{{ pitr_target }}" --type=time {%- else %} --type=immediate {%- endif %}
      {%- endif %}
      restore
    no_params: True
    keep_existing_recovery_conf: True
  {% elif primary_cluster_endpoint %}
    standby_cluster:
      host: {{ primary_cluster_endpoint }}
      port: 5432
      create_replica_methods: ["basebackup"]
  {% else %}
  initdb:
  - encoding: UTF8
  - data-checksums
  - waldir: /var/snap/charmed-postgresql/common/data/logs
  {%- endif %}

postgresql:
  listen: {% for ip in listen_ips %}{{ ip }}{%- if not loop.last %},{% endif %}{% endfor %}:5432
  basebackup:
    - waldir: /var/snap/charmed-postgresql/common/data/logs
  connect_address: '{{ self_ip }}:5432'
  # Path to PostgreSQL binaries used in the database bootstrap process.
  bin_dir: /snap/charmed-postgresql/current/usr/lib/postgresql/{{ version }}/bin
  data_dir: {{ data_path }}
  parameters:
    shared_preload_libraries: 'timescaledb,pgaudit,set_user'
    session_preload_libraries: 'login_hook'
    set_user.block_log_statement: 'on'
    set_user.exit_on_error: 'on'
    set_user.superuser_allowlist: '+charmed_dba'
    {%- if enable_pgbackrest_archiving %}
    archive_command: 'pgbackrest {{ pgbackrest_configuration_file }} --stanza={{ stanza }} archive-push %p'
    {% else %}
    archive_command: /bin/true
    {%- endif %}
    {%- if enable_tls %}
    ssl: on
    ssl_ca_file: {{ conf_path }}/ca.pem
    ssl_cert_file: {{ conf_path }}/cert.pem
    ssl_key_file: {{ conf_path }}/key.pem
    {%- endif %}
    temp_tablespaces: temp
    unix_socket_directories: /tmp
    {%- if pg_parameters %}
    {%- for key, value in pg_parameters.items() %}
    {{key}}: {{value}}
    {%- endfor -%}
    {% endif %}
  pgpass: /tmp/pgpass
  pg_hba:
    - local all backup peer map=operator
    - local all operator scram-sha-256
    - local all monitoring password
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_stats 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_read 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_dml 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_backup 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_dba 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_admin 0.0.0.0/0 scram-sha-256
    - {{ 'hostssl' if enable_tls else 'host' }} all +charmed_databases_owner 0.0.0.0/0 scram-sha-256
    {%- if not connectivity %}
    - {{ 'hostssl' if enable_tls else 'host' }} all all {{ self_ip }} {{ instance_password_encryption }}
    - {{ 'hostssl' if enable_tls else 'host' }} all all 0.0.0.0/0 reject
    {%- elif enable_ldap %}
    - {{ 'hostssl' if enable_tls else 'host' }} all +identity_access 0.0.0.0/0 ldap {{ ldap_parameters }}
    - {{ 'hostssl' if enable_tls else 'host' }} all +internal_access 0.0.0.0/0 {{ instance_password_encryption }}
    {%-   for user, databases in user_databases_map.items() %}
    - {{ 'hostssl' if enable_tls else 'host' }} {{ databases }} {{ user }} 0.0.0.0/0 {{ instance_password_encryption }}
    {%-   endfor %}
    {%- else %}
    - {{ 'hostssl' if enable_tls else 'host' }} all +internal_access 0.0.0.0/0 {{ instance_password_encryption }}
    {%-   for user, databases in user_databases_map.items() %}
    {%-     if 'pgbouncer_auth_relation_' in user %}
    - {{ 'hostssl' if enable_tls else 'host' }} {{ databases }} {{ user }} 0.0.0.0/0 md5
    {%-     else %}
    - {{ 'hostssl' if enable_tls else 'host' }} {{ databases }} {{ user }} 0.0.0.0/0 {{ instance_password_encryption }}
    {%-     endif %}
    {%-   endfor %}
    {%- endif %}
    - {{ 'hostssl' if enable_tls else 'host' }} replication replication 127.0.0.1/32 scram-sha-256
    # Allow replications connections from other cluster members.
    {%- for endpoint in extra_replication_endpoints %}
    - {{ 'hostssl' if enable_tls else 'host' }} replication replication {{ endpoint }}/32 scram-sha-256
    {%- endfor %}
    {%- for peer_ip in peers_ips %}
    - {{ 'hostssl' if enable_tls else 'host' }} replication replication {{ peer_ip }}/0 scram-sha-256
    {%- endfor %}

  pg_ident:
  - operator _daemon_ backup
  authentication:
    replication:
      username: replication
      password: {{ replication_password }}
      {%- if enable_tls %}
      sslrootcert: {{ conf_path }}/ca.pem
      {%- endif %}
      sslcert: {{ conf_path }}/nonexistent_cert.pem
      sslkey: {{ conf_path }}/nonexistent_key.pem
    rewind:
      username: {{ rewind_user }}
      password: {{ rewind_password }}
      {%- if enable_tls %}
      sslrootcert: {{ conf_path }}/ca.pem
      {%- endif %}
      sslcert: {{ conf_path }}/nonexistent_cert.pem
      sslkey: {{ conf_path }}/nonexistent_key.pem
    superuser:
      username: {{ superuser }}
      password: {{ superuser_password }}
      {%- if enable_tls %}
      sslrootcert: {{ conf_path }}/ca.pem
      {%- endif %}
      sslcert: {{ conf_path }}/nonexistent_cert.pem
      sslkey: {{ conf_path }}/nonexistent_key.pem
use_unix_socket: true
{%- if is_creating_backup %}
tags:
  is_creating_backup: {{ is_creating_backup }}
{%- endif %}
