/var/snap/charmed-postgresql/common/var/log/pgbackrest/*.log {
    rotate 10
    missingok
    notifempty
    nocompress
    daily
    create 0600 snap_daemon snap_daemon
    dateext
    dateformat -%Y%m%d_%H%M
}
