#########################################################################################
# [ WARNING ]
# postgresql configuration file maintained by the postgres-operator
# local changes may be overwritten.
#########################################################################################
listen_addresses = '{{ listen_addresses }}'		# what IP address(es) to listen on;
