[Unit]
Description=Patroni Raft observer service 
Wants=snap.charmed-postgresql.patroni.service

[Service]
Type=oneshot
{% for var, val in envvars.items() -%}
Environment="{{ var }}={{ val }}"
{% endfor -%}
ExecStart=python3 {{ script }}
StandardOutput=journal
StandardError=journal
