# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Release to Charmhub

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'tests/**'
      - 'docs/**'
      - .github/renovate.json5
      - pyproject.toml
      - '.github/workflows/ci.yaml'
      - '.github/workflows/lib-check.yaml'

jobs:
  ci-tests:
    name: Tests
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
    permissions:
      contents: write  # Needed for Allure Report beta

  build:
    name: Build charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v13.1.2

  release:
    name: Release charm
    needs:
      - ci-tests
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm.yaml@v13.1.2
    with:
      channel: 14/edge
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to create GitHub release
